In [4]:
# !pip install pyspark

# Lesson 1

In [36]:
import pyspark
import pandas as pd

In [51]:
age = [10,20,30]
name = ['kris','asss', 'adasd']
exper = [10,6,4]
# Create the pandas DataFrame with column name is provided explicitly
df = pd.DataFrame(name, columns=['name'])
df['age'] = age
df['experience'] = exper
df.to_csv('test.csv',index=False)

In [53]:
from pyspark.sql import SparkSession

In [54]:
# Start the spark session 
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [55]:
spark

In [56]:
df_pyspark = spark.read.csv('test.csv')

In [57]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string]

In [58]:
df_pyspark.show()

+-----+---+----------+
|  _c0|_c1|       _c2|
+-----+---+----------+
| name|age|experience|
| kris| 10|        10|
| asss| 20|         6|
|adasd| 30|         4|
+-----+---+----------+

In [59]:
spark.read.option('header', 'true').csv('test.csv').show()

+-----+---+----------+
| name|age|experience|
+-----+---+----------+
| kris| 10|        10|
| asss| 20|         6|
|adasd| 30|         4|
+-----+---+----------+

In [60]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [61]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

# Lesson 2

In [64]:
# Read dataset 

df_pyspark = spark.read.option('header','true').csv('test.csv',inferSchema=True)

In [65]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [72]:
# inferSchema=True for reading data as string or integers
# false is the defult where it reads dataset as string 
df_pyspark = spark.read.csv('test.csv', header=True, inferSchema=True)

In [73]:
df_pyspark.show()

+-----+---+----------+
| name|age|experience|
+-----+---+----------+
| kris| 10|        10|
| asss| 20|         6|
|adasd| 30|         4|
+-----+---+----------+

In [74]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [77]:
df_pyspark.select('name') #.show

DataFrame[name: string]

In [79]:
df_pyspark.select(['name', 'experience']).show()

+-----+----------+
| name|experience|
+-----+----------+
| kris|        10|
| asss|         6|
|adasd|         4|
+-----+----------+

In [82]:
df_pyspark['name']

Column<'name'>

In [83]:
df_pyspark.dtypes

[('name', 'string'), ('age', 'int'), ('experience', 'int')]

In [85]:
df_pyspark.describe().show()

+-------+-----+----+------------------+
|summary| name| age|        experience|
+-------+-----+----+------------------+
|  count|    3|   3|                 3|
|   mean| null|20.0| 6.666666666666667|
| stddev| null|10.0|3.0550504633038935|
|    min|adasd|  10|                 4|
|    max| kris|  30|                10|
+-------+-----+----+------------------+

In [95]:
# Add colummn in a df 
df_pyspark = df_pyspark.withColumn('experience after 2 years', df_pyspark['experience']+2)
df_pyspark.show()

+-----+---+----------+------------------------+
| name|age|experience|experience after 2 years|
+-----+---+----------+------------------------+
| kris| 10|        10|                      12|
| asss| 20|         6|                       8|
|adasd| 30|         4|                       6|
+-----+---+----------+------------------------+

In [96]:
#Delete column 
df_pyspark = df_pyspark.drop('experience after 2 years')
df_pyspark.show()

+-----+---+----------+
| name|age|experience|
+-----+---+----------+
| kris| 10|        10|
| asss| 20|         6|
|adasd| 30|         4|
+-----+---+----------+

In [97]:
# rename columns 
df_pyspark = df_pyspark.withColumnRenamed('name', 'Name').show()

+-----+---+----------+
| Name|age|experience|
+-----+---+----------+
| kris| 10|        10|
| asss| 20|         6|
|adasd| 30|         4|
+-----+---+----------+

# Lesson 3

In [99]:
df_pyspark = spark.read.csv('test.csv', header=True, inferSchema=True)

In [100]:
df_pyspark.show()

+-----+----+----------+------+
| name| age|experience|Salery|
+-----+----+----------+------+
| kris|  10|        10|  1000|
| asss|  20|         6|  2000|
|adasd|  30|         4|  3000|
| suny|  43|        11|  4000|
| sdds|  23|         3|  5000|
| hasr|  32|         4|  6000|
|   dd|null|      null|  7000|
| null|  23|         1|  8000|
| null|  36|      null|  null|
+-----+----+----------+------+

In [102]:
df_pyspark.dropna().show()

+-----+---+----------+------+
| name|age|experience|Salery|
+-----+---+----------+------+
| kris| 10|        10|  1000|
| asss| 20|         6|  2000|
|adasd| 30|         4|  3000|
| suny| 43|        11|  4000|
| sdds| 23|         3|  5000|
| hasr| 32|         4|  6000|
+-----+---+----------+------+

In [108]:
## how =  all if null is for the entire raw 
## how =  any if null is exist in any column
## how =any + threshold if null existi in + columns than threshold 
df_pyspark.na.drop(how='all').show()

+-----+----+----------+------+
| name| age|experience|Salery|
+-----+----+----------+------+
| kris|  10|        10|  1000|
| asss|  20|         6|  2000|
|adasd|  30|         4|  3000|
| suny|  43|        11|  4000|
| sdds|  23|         3|  5000|
| hasr|  32|         4|  6000|
|   dd|null|      null|  7000|
| null|  23|         1|  8000|
| null|  36|      null|  null|
+-----+----+----------+------+

In [105]:
df_pyspark.na.drop(how='any').show()

+-----+---+----------+------+
| name|age|experience|Salery|
+-----+---+----------+------+
| kris| 10|        10|  1000|
| asss| 20|         6|  2000|
|adasd| 30|         4|  3000|
| suny| 43|        11|  4000|
| sdds| 23|         3|  5000|
| hasr| 32|         4|  6000|
+-----+---+----------+------+

In [109]:
df_pyspark.na.drop(how='any',thresh=2).show()

+-----+----+----------+------+
| name| age|experience|Salery|
+-----+----+----------+------+
| kris|  10|        10|  1000|
| asss|  20|         6|  2000|
|adasd|  30|         4|  3000|
| suny|  43|        11|  4000|
| sdds|  23|         3|  5000|
| hasr|  32|         4|  6000|
|   dd|null|      null|  7000|
| null|  23|         1|  8000|
+-----+----+----------+------+

In [113]:
df_pyspark.fillna('missing','name').show()

+-------+----+----------+------+
|   name| age|experience|Salery|
+-------+----+----------+------+
|   kris|  10|        10|  1000|
|   asss|  20|         6|  2000|
|  adasd|  30|         4|  3000|
|   suny|  43|        11|  4000|
|   sdds|  23|         3|  5000|
|   hasr|  32|         4|  6000|
|     dd|null|      null|  7000|
|missing|  23|         1|  8000|
|missing|  36|      null|  null|
+-------+----+----------+------+

In [114]:
## Fill with mean 

from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age', 'experience', 'Salery'], 
    outputCols=["{}_imputed".format(c) for c in ['age', 'experience', 'Salery']]
    ).setStrategy("median")

In [115]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-----+----+----------+------+-----------+------------------+--------------+
| name| age|experience|Salery|age_imputed|experience_imputed|Salery_imputed|
+-----+----+----------+------+-----------+------------------+--------------+
| kris|  10|        10|  1000|         10|                10|          1000|
| asss|  20|         6|  2000|         20|                 6|          2000|
|adasd|  30|         4|  3000|         30|                 4|          3000|
| suny|  43|        11|  4000|         43|                11|          4000|
| sdds|  23|         3|  5000|         23|                 3|          5000|
| hasr|  32|         4|  6000|         32|                 4|          6000|
|   dd|null|      null|  7000|         23|                 4|          7000|
| null|  23|         1|  8000|         23|                 1|          8000|
| null|  36|      null|  null|         36|                 4|          4000|
+-----+----+----------+------+-----------+------------------+--------------+

# Filter Operations

In [116]:
df_pyspark = spark.read.csv('test.csv', header=True, inferSchema=True)
df_pyspark.show()

+-----+---+----------+------+
| name|age|experience|Salery|
+-----+---+----------+------+
| kris| 10|        10|  1000|
| asss| 20|         6|  2000|
|adasd| 30|         4|  3000|
| suny| 43|        11|  4000|
| sdds| 23|         3|  5000|
| hasr| 32|         4|  6000|
+-----+---+----------+------+

In [119]:
# salary of less than 3000
df_pyspark.filter('salery<=3000').show()

+-----+---+----------+------+
| name|age|experience|Salery|
+-----+---+----------+------+
| kris| 10|        10|  1000|
| asss| 20|         6|  2000|
|adasd| 30|         4|  3000|
+-----+---+----------+------+

In [123]:
df_pyspark.filter('salery<=3000').select(['name', 'age']).show()

+-----+---+
| name|age|
+-----+---+
| kris| 10|
| asss| 20|
|adasd| 30|
+-----+---+

In [137]:
df_pyspark.filter((df_pyspark['salery']<=3000) & (df_pyspark['age']< 20)).show()

+----+---+----------+------+
|name|age|experience|Salery|
+----+---+----------+------+
|kris| 10|        10|  1000|
+----+---+----------+------+

# GroupBy and Aggrigate Function

In [139]:
df_pyspark = spark.read.csv('test.csv', header=True, inferSchema=True)
df_pyspark.show()

+-----+---+------------+------+
| name|age|  Department|Salery|
+-----+---+------------+------+
| kris| 10|         IOT|  1000|
| asss| 20|    Big data|  2000|
|adasd| 30|          ML|  3000|
| suny| 43|         IOT|  4000|
| sdds| 23|    Big data|  5000|
| hasr| 32|Data science|  6000|
| kris| 10|         IOT|  1000|
| asss| 20|    Big data|  2000|
|adasd| 30|          ML|  3000|
| suny| 43|         IOT|  4000|
| sdds| 23|    Big data|  5000|
| hasr| 32|Data science|  6000|
+-----+---+------------+------+

In [146]:
# Groupby 
df_pyspark.groupBy('name').sum().show()

+-----+--------+-----------+
| name|sum(age)|sum(Salery)|
+-----+--------+-----------+
| asss|      40|       4000|
| sdds|      46|      10000|
| hasr|      64|      12000|
| suny|      86|       8000|
|adasd|      60|       6000|
| kris|      20|       2000|
+-----+--------+-----------+

In [145]:
df_pyspark.groupBy('Department').mean().show()

+------------+--------+-----------+
|  Department|avg(age)|avg(Salery)|
+------------+--------+-----------+
|         IOT|    26.5|     2500.0|
|Data science|    32.0|     6000.0|
|          ML|    30.0|     3000.0|
|    Big data|    21.5|     3500.0|
+------------+--------+-----------+

In [147]:
df_pyspark.groupBy('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|         IOT|    4|
|Data science|    2|
|          ML|    2|
|    Big data|    4|
+------------+-----+

In [149]:
df_pyspark.agg({'salery':'sum'}).show()

+-----------+
|sum(salery)|
+-----------+
|      42000|
+-----------+

# Training ML

In [151]:
df_pyspark = spark.read.csv('test.csv', header=True, inferSchema=True)
df_pyspark.show()

+-----+---+----------+------+
| name|age|experience|Salery|
+-----+---+----------+------+
| kris| 22|         1|  1000|
| asss| 20|         3|  2000|
|adasd| 30|         4|  3000|
| suny| 43|         5|  4000|
| sdds| 23|         6|  5000|
| hasr| 32|         7|  6000|
+-----+---+----------+------+

In [152]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)
 |-- Salery: integer (nullable = true)

In [153]:
df_pyspark.columns

['name', 'age', 'experience', 'Salery']

In [155]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=["age","experience"],outputCol="Independent Features")

In [157]:
output=featureassembler.transform(df_pyspark)

In [158]:
output.show()

+-----+---+----------+------+--------------------+
| name|age|experience|Salery|Independent Features|
+-----+---+----------+------+--------------------+
| kris| 22|         1|  1000|          [22.0,1.0]|
| asss| 20|         3|  2000|          [20.0,3.0]|
|adasd| 30|         4|  3000|          [30.0,4.0]|
| suny| 43|         5|  4000|          [43.0,5.0]|
| sdds| 23|         6|  5000|          [23.0,6.0]|
| hasr| 32|         7|  6000|          [32.0,7.0]|
+-----+---+----------+------+--------------------+

In [159]:
output.columns

['name', 'age', 'experience', 'Salery', 'Independent Features']

In [161]:
finalized_data=output.select("Independent Features","salery")

In [162]:
finalized_data.show()

+--------------------+------+
|Independent Features|salery|
+--------------------+------+
|          [22.0,1.0]|  1000|
|          [20.0,3.0]|  2000|
|          [30.0,4.0]|  3000|
|          [43.0,5.0]|  4000|
|          [23.0,6.0]|  5000|
|          [32.0,7.0]|  6000|
+--------------------+------+

In [163]:
from pyspark.ml.regression import LinearRegression
##train test split
train_data,test_data=finalized_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='Independent Features', labelCol='salery')
regressor=regressor.fit(train_data)

23/04/12 15:52:15 WARN Instrumentation: [1abec157] regParam is zero, which might cause numerical instability and overfitting.

In [164]:
regressor.coefficients

DenseVector([-0.9767, 858.9149])

In [165]:
regressor.intercept

-194.29115593103472